<body style="background-color:rgb(182, 183, 212);">
    <h5 style="text-align:center;">Built on experience and expertise
    to offer robust cyber security services</h5>



<p style="text-align:center;">Established in 2022, CyberSecurityhk(CShk) 
    <p style="text-align:center;">provides cyber consultancy and cyber managed services which help to detect,</p>
     <p style="text-align:center;">protect and educate against the ever-changing cyber threat.</p>
     <p style="text-align:center;"> We have built our team from a foundation of Government (ex-Military) and Commercially </p>
    <p style="text-align:center;"> experienced specialists all holding current and relevant cyber certifications. </p>
    <p style="text-align:center;">Today our core services are based around a 24/7 Security Operations Centre (SOC) based in pune.</p>


</body>
