



  <body style="background-color:black;">
  
    <div class=" containercollaps navbar-collaps ">
      
      
    <nav class="navbar navbar-default navbar-expand-sm bg-dark navbar-dark navbar-nav me-auto">
     
      
        <div class="container-fluid ">
         
          <div class="navbar-header">
           
            
            <img [src]="imageUrl" alt="logo" style="height: 70px; width: 250px;">
             
            
            
            <a class="navbar-brand" routerLink="/home">Home</a>
            <a class="navbar-brand" routerLink="/about">About</a>
            <a class="navbar-brand" routerLink="/contact">Contact us</a>
            <a class="navbar-brand" routerLink="/menu">News</a>
            
            
                <input type="text" placeholder="Search.." name="search">
                <button type="submit" (click)="greet()">Submit</button>
             
            
              <!--<form >
             <input  class="form" type="text" value="Search"  >
              <button class="btn btn-primary" (click)="greet()"> Serach</button>-->
             
               <!--<input  type="text" placeholder="Search">
                <button class="btn btn-primary" type="button" (click)="greet()">Search</button>-->
              
              
                   <!--<form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
                  <input type="text" placeholder="Search.." name="search2">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>-->
      
      
           
            
 

          </div> 

        </div>
      
      </nav>
    

    </div>  
    </body>
 
  



	

