<header>

      <body style="background-color:rgb(182, 183, 212);">
      <h5 style="text-align:center;"> welcome to our cyber Security page</h5>
      <!--<button (click)="toggleOn=!toggleOn">click here for more details...</button>

          <div *ngIf="!toggleOn">
            <h2>Hello Guys</h2>-->
          </body>    
      
 
    
    <body style="background-color:rgb(56, 60, 185);">
      <h3>The Future of Cybersecurity: What Will it Look Like in 2031?</h3>
    </body>
    <body style="background-color:rgb(162, 163, 202);">
    <p>Ever wonder what the state of cybersecurity in 2031 will look like? While 10 years may seem a long way into the future,
        <p>the speed at which the industry is evolving is sure to make the next decade fly by. 
         Predicting the future of cybersecurity is not about looking into the crystal ball merely for fun. 
            By envisioning how the industry will change in 10 years, chief information officers and chief security officers can prepare for future challenges,
              so they do not look back and wish they had acted in 2021.

          As much as I enjoy making predictions, to give this story the best chance at getting things right, I interviewed three top cybersecurity experts for their perspectives on the future of cybersecurity.
        
        Tyler Cohen Wood is an author, speaker and former senior intelligence officer with the Defense Intelligence Agency.
        
        Roger Grimes is the defense evangelist for KnowBe4 and author of several books about hacking.
        
        Troy Hunt is a cybersecurity speaker and trainer. Founder of the popular Have I Been Pwned website, he has also testified before Congress about data breaches.
        
        We talked about the future of the cloud, passwords, artificial intelligence (AI), data breaches and the skills gap. Take a look at their expert insight on what the industry needs to know about the future of cybersecurity in 2031.
        
        Future of Cybersecurity: Cloud</p>
    </body>
     <!-- <h2>Here is some infomation about Maskphish</h2>-->
      <!--  </body>-->
      <!--<body style="background-color:rgb(87, 189, 56);">
      <h1 style="text-align:center;"> Maskphish</h1>
      </body>-->
      <div class="row">
        <div class="column">
      <img [src]="image_Url"  alt="cyber"  style="height: 250px; width: 250x ;">
    </div>
    <div class="column">
      <img [src]="imageUrl1" alt="cyber"  style="height: 250px; width: 450px;">
    </div>
    <div class="column">
      <img [src]="imageUrl2" alt="cyber" style="height: 250px; width: 440px;">
    </div>
  </div>
      <!--<img [src]="imageUrl3" alt="cyber" style="height: 250px; width: 270px;">
      <!--<img [src]="imageUrl" alt="logo" style="height: 50px; width: 70 px;">-->
    
          <!--<h1>This is a heading</h1>
          <p>This is a paragraph.</p>-->
        
          
      
    </header>